<!--<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">-->
      <div class="modal-content" style="font-family:Arial;font-weight: bold;text-align: center; border:none">
          <div class="modal-header" style="display:inline-block">
            <div class="">
              <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
              <h4 class="modal-title" style="font-family:Arial;font-weight: bold;text-align: center">Guías de tallas</h4>
            </div>   
          </div>
          <div class="modal-body" style="font-family:Arial;font-weight: bold;text-align: center">
            <div class="form-group">
              <p style="font-size:12px; color: gray;">Esta guía de tallas es únicamente de referencia, ten presente que las dimensiones pueden variar según el modelo.</p>
            </div>
            <div class="table-responsive">
              <table class="table table-striped" style="font-family:Arial;font-weight: bold;text-align: center">  
                <thead>
                  <tr>
                    <td>Talla</td>
                    <td>XS</td>
                    <td>S</td>
                    <td>M</td>
                    <td>L</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Hombro</td>
                    <td>59</td>
                    <td>60</td>
                    <td>61</td>
                    <td>62</td>
                  </tr>
                  <tr>
                    <td>Busto</td>
                    <td>112</td>
                    <td>114</td>
                    <td>118</td>
                    <td>122</td>
                  </tr>
                  <tr>
                    <td>Manga</td>
                    <td>35</td>
                    <td>36</td>
                    <td>37</td>
                    <td>38</td>
                  </tr>
                  <tr>
                    <td>Largo</td>
                    <td>50</td>
                    <td>51</td>
                    <td>52</td>
                    <td>53</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!--<div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" style="font-size:15px">Close</button>
            </div>-->
        </div>
      
    <!--</div>
  </div>-->