<!--<div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">-->
      <!-- Modal content-->
      <div class="modal-content" style="border:none"  >
        <div class="modal-header" style="display:inline-block">
          <div class="">
            <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
            <h4 class="modal-title" style="font-family:Arial;font-weight: bold;text-align: center">Disponibilidad en tiendas</h4>
          </div>
        </div>
        <div class="modal-body">
        <!--<img src='./assets/Image/retail_disponibilidad_tv2.png'>-->
         <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d62413.143337358306!2d-77.04534882809729!3d-12.124365471405039!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1soechsle!5e0!3m2!1ses-419!2spe!4v1507750172066" width="370" height="310" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <!--<div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" style="font-size:15px">Close</button>
          </div>-->
      </div>
    <!--</div>
  </div>-->