<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark justify-content-md-center" style="color:white;">
        <a class="title navbar-brandc" href="#">ChicStyle</a>
        <div style="position: absolute; right: 20px;">
        <a style="font-family:'BreeSerif-Regular';" ></a><span class="glyphicon glyphicon-heart-empty" style="color:white;margin-right:20px;margin-left:10px;font-size:20px " aria-hidden="true"></span>
        <a style="font-family:'BreeSerif-Regular';">{{car}}</a><i class="fa fa-shopping-bag" style="color:white;margin-left:10px;font-size:20px" aria-hidden="true" (click)="viewShoppingCart()"></i>
        </div>
</nav>