<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <h6 class="title2">{{sectionProduct}}</h6>
      <hr  class="line-black">
      <ul>
        <li *ngFor="let my of models">
            <img class="img1" src="./assets/Image/models/{{my.name}}" (click)="changeImage(my.idGirl)">
        </li>
      </ul>
    </div>
    <div class="col-sm-5">
      <div class='section' >
        <div class='photos inline' >
          <img class='main-photo active' id='lg-1' src='./assets/Image/models/{{picture}}'>
          <div class='small-photos' style="padding-top:308px;">
            <div class='sub' *ngFor="let pic of picForProduct | filterBy: {idGirl:chick, color:colorChick}">
              <img class='sub-photo' id='sm-1' src='./assets/Image/models/{{pic.name}}' (click)="changeSubImage(pic.name)">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group seccionDescrip col-sm-3" style="height: 777px;" *ngFor="let product of products | filterBy: {idGirl:chick}">
      <div class="floating-box col-sm-12">
        <p class="title2">{{product.detailProduct}}</p>
      </div>
      <span class="glyphicon glyphicon-heart-empty" style="color:#bf1a79;font-size:20px " aria-hidden="true"></span>
      <div class="form-group col-sm-12 ">
        <div class="float-left">
            <p class="title2 floating-box2">{{product.price}}&nbsp;€</p>
        </div>
        <div class="float-right">
            <p class="floating-box2" style="font-style: italic;">{{product.available ? 'En stock':'No disponible'}}</p>
        </div>            
      </div>
      <br>
      <!--<input type="radio" id="{{star.id}}" name="{{star.name}}" value="{{star.value}}" /><label class = "{{star.clase}}" for="{{star.id}}" title="{{star.title}}"></label>  *ngFor="let star of starts"-->
      <div class=" col-sm-12">
        <fieldset class="rating">            
          <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
          <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
          <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
          <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
          <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
          <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
          <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
          <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
          <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
          <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
        </fieldset>
      </div>
      <br><br>
      <div class="form-group col-sm-12">
          <p class="title2">COLOR</p>
          <hr>
          <div *ngFor="let colores of products | filterBy: {idGirl:chick}">
              <div *ngFor="let val of colores.color" style="display:inline-block">
                <div *ngFor="let colors of colorsClothes | filterBy:{value:val}" style="display:inline-block" (click)="changeColor(colors.value)">
                  <img class="color" style="width:30px;height:30px;border-radius: 100px;margin:0px 5px 0px 0px" src='../../assets/Image/colors/{{colors.name}}'>
                </div>  
              </div>
          </div>
      </div>
      <br>
      <div class="col-sm-12">
          <p class="title2 floating-box2">TALLAS</p>
          <button type="button" (click)="modalSize()" class="btn btn-primary"  style="margin: 0 auto; background-color:white; font-family:arial;font-size:13px;width: 145px;height: 30px; color:black;margin-left:60px" data-toggle="modal" data-target="#myModal"><i class="ionicons ion-tshirt"></i>Guía de tallas</button>
          <hr>
          <div *ngFor="let product of products | filterBy: {idGirl:chick}">
            <div *ngFor="let size of product.sizes" style="display:inline-block; margin:1%">
              <button type="button" class="btn" Style="font-size:18px" [style.background-color]="size.selected?'':backgroundStyle" (click)="selectedSize(size)">{{size.name}}</button>
            </div>
          </div>
          <br>
          <button type="button" (click)="modalStores()" class="btn btn-primary"  style="margin: 0 auto; background-color:white; font-family:arial;font-size:13px;width: 145px;height: 30px; color:black ;" data-toggle="modal" data-target="#myModal2"><span class="glyphicon glyphicon-map-marker" style="color:black;margin-right:10px;font-size:13px" aria-hidden="true"></span>Buscar en tiendas</button>
      </div>
      <br>
      <div class="form-group col-sm-12" style="height:325px">
          <p class="title2">DESCRIPCIÓN</p>
          <hr>
          <p>La tela no tiene ninguna elastacidad, confensionada para las temporadas de primavera, otoño. Estilo casual, material utilizado 97% poliéster, 3% lana. Decorado con borlas.</p>
      </div>

      <div><button type="button" (click)="addCart('Agregado al carrito de compra','Cerrar')" class="btn btn-primary"  style="display: block;margin: 0 auto; background-color:black; font-family:arial;font-size:15px;width: 213px;height: 49px; " data-toggle="modal" data-target="#myModal3" ><i class="fa fa-shopping-bag" style="color:white;margin-right:10px;font-size:20px" aria-hidden="true"></i>AÑADIR A LA CESTA</button></div>    
    </div>
    <div class="col-sm-2">
      <h6 class="title2">Arma tu Outfit</h6>
      <hr class="line-black">
      <div id="carouselExampleIndicators1" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item" [ngClass]="{active:picture.active}" *ngFor="let picture of carousel1">
            <img class="d-block w-100 img1" src="./assets/Image/outfit/pants/{{picture.pic}}">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
              <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item" [ngClass]="{active:picture.active}" *ngFor="let picture of carousel2">
            <img class="d-block w-100 img1" src="./assets/Image/outfit/handbag/{{picture.pic}}">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
              <div id="carouselExampleIndicators3" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item" [ngClass]="{active:picture.active}" *ngFor="let picture of carousel3">
            <img class="d-block w-100 img1" src="./assets/Image/outfit/earring/{{picture.pic}}">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      </div>
  </div>
</div>