
@font-face {
    font-family: 'blacksjack';
    src: url('fonts/blackjack.otf');
}

@font-face {
    font-family: 'BreeSerif-Regular';
    src: url('fonts/BreeSerif-Regular.otf');
}

body {
	background-color: 	#f9f9f9;
	margin-top: 1%;
}
.title {
    font-family: 'blacksjack';
    color: white;
    font-size: 3.5rem;
}

.title2 {
	font-family: 'BreeSerif-Regular';
    color: black;
    font-size: 17px;
}
.title3 {
	font-family: 'BreeSerif-Regular';
    color: black;
    font-size: 20px;
}
.row {
	margin-top: 2%;

}

.bg-dark {
    background-color: #000000!important;
}

hr {
	border: 0.5px solid #646464;
	margin-top: 5px;
	margin-bottom: 5px;
}

ul {
	 padding-left: 0px;

}
li {
	list-style-type: none;
}

.img1 { 
  width: 100%;
  height: 80%; 
  margin: 3px;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 

.img2{
  width: 30%;
  height: 100%; 
  margin: 3px;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img3{
  width: 40%;
  height: 90%; 
  margin: 3px;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img1:hover { 
  border: 3px solid #bf1a79; 
} 

.btn:hover { 
  border: 3px solid #bf1a79; 
} 

.color:hover { 
  border: 3px solid #bf1a79; 
} 
.seccionDescrip {
	background-color: white;
	font-family: 'BreeSerif-Regular';
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p {
	font-size: 14px;
	font-family: Arial;
	text-align: justify;
}


.btnblck {
	color: black;
}


.glyphicon .glyphicon-heart-empty{
	color: white;
}

.floating-box {
    display: inline-block;
    width: 265px;
   	margin-right: 5px;
      
}

.floating-box2 {
    display: inline-block;
    width: 54px;
     
}

p {
    margin-bottom: 0rem;
}


/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

/*
 * Typography
 */

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}	

* {
  transition: 0.4s ease all;
  box-sizing: border-box;
  font-family: "Avenir";
}

.background {
  position: fixed;
  top: -10px;
  right: -10px;
  left: -10px;
  bottom: -10px;
  background-size: cover;
  overflow: scroll;
}
.background.image {
  filter: blur(5px) grayscale(100%);
  -webkit-filter: blur(5px) grayscale(100%);
  background: url("https://trakke.co.uk/wp-content/uploads/2014/12/IMG_0504.jpg") center center no-repeat;
  background-size: cover;
}
.background.overlay {
  background: linear-gradient(45deg, rgba(255, 245, 18, 0.2), rgba(103, 97, 68, 0.8));
}

.section {
  z-index: 1;
  background-color: white;
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  position: relative;
}
.section img.main-photo {
  width: 516px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
}
.section img.main-photo.active {
  opacity: 1;
  visibility: visible;
}
.section .sub img {
  opacity: 0.5;
  width: 50px;
}
.section .sub img:hover {
  opacity: 1;
}
.section .inline {
  display: inline-block;
  vertical-align: top;
}
.section .photos {
  width: 300px;
}
.section .photos .small-photos {
  margin-top: 390px;
  display: flex;
  margin-bottom: 10px;
}
.section .content {
  background: linear-gradient(to bottom, #f5f5f5, #fff);
  width: 300px;
}
.section .content .header {
  padding: 20px;
  display: block;
  background-color: #333;
  border-left: 5px solid #ff6700;
  margin-top: -20px;
  margin-right: -20px;
  margin-left: -60px;
  padding-left: 75px;
  padding-right: 40px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}
.section .content .header .price, .section .content .header .name {
  font-weight: 800;
  color: white;
  text-shadow: 0px 1px 2px black;
  font-size: 1.2em;
}
.section .content .header .price {
  float: right;
  font-size: 1em;
  margin-top: 2px;
}
.section .content .body {
  padding: 20px;
  font-size: 0.8em;
}
.section .content .body .material, .section .content .body .category {
  color: #aaa;
  margin-bottom: 10px;
  display: inline-block;
}
.section .content .body .material {
  float: right;
}
.section .content .body .body-header {
  font-weight: 800;
  margin-bottom: 10px;
  display: block;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}
.section .content .footer a {
  position: absolute;
  bottom: -20px;
  line-height: 60px;
  right: 0px;
  left: 300px;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.9em;
  cursor: pointer;
  transition: 0.4s ease all;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  background-color: #333;
  color: #fff;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
.section .content .footer a:hover {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  bottom: -18px;
  text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.5);
  background-color: #ff6700;
  color: #222;
}

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #bf1a79;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #bf1a79;  } 