<div class="container-fluid">
    <div class="row" *ngFor="let cartlist of cart">
      <div class="col-sm-2"></div>
      <div class="col-sm-2">
        <ul>
          <li>
              <img class="img1" src="./assets/Image/models/{{cartlist.picture}}">
          </li>
        </ul>
      </div>
      <div class="col-sm-4">
        <div class="form-group col-sm-12">
            <!--{{cartlist|json}}-->
            <div class="form-group">
                <label class="title3" for="description">{{cartlist.details}}</label>
            </div>
            <div class="form-group">
                <label class="title2" for="Costo">Costo</label>
                <p id="Costo">{{cartlist.price}}&nbsp;€</p>
            </div>
            <div class="form-group" >
                <label class="title2" for="Costo">Talla</label>
                <p id="Costo">{{cartlist.size}}</p>
            </div>
            <div class="form-group" >
                <label class="title2" for="Costo">Color</label>
                <br>
                <img class="color" style="width:30px;height:30px;border-radius: 100px;margin:0px 5px 0px 0px" src='../../assets/Image/colors/{{cartlist.color}}'>
            </div>            
        </div>
      </div>
      <div class="col-sm-2">
            <button type="button" class="close" (click)="cutGirl(cartlist.id)">&times;</button>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <button type="button" class="btn btn-primary" (click)="goBack()" style=" background-color:black; font-family:arial;font-size:15px;width: 113px;height: 39px; " ><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Regresar</button>      
        </div>
        <div class="col-sm-6" style="text-align:end">
            <button type="button" class="btn btn-primary" style=" background-color:black; font-family:arial;font-size:15px;width: 113px;height: 39px; " >Confirmar&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></button>      
        </div>                
    </div>
    <hr style="border: 1px solid #ccc;">
    <div class="row">
        <div class="col-sm-3">
            
        </div>
        <div class="col-sm-1">
            <label class="title2" for="Costo">Total</label>
        </div>
        <div class="col-sm-1">
            <h2>{{totPrice}}&nbsp;€</h2>  
        </div>
        <div class="col-sm-2">
            <label class="title2" for="Costo">Cantidad de prendas</label>          
        </div>
        <div class="col-sm-1">
            <h2>{{quantity}}</h2>  
        </div>           
        <div class="col-sm-4">
        </div>                   
    </div>                                             
</div>
